@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: Poppins, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
  }

@layer base {
	:root  {
		--background: 216 10% 5%;
		--foreground: 216 0% 90%;
		--card: 216 0% 0%;
		--card-foreground: 216 0% 90%;
		--popover: 216 10% 5%;
		--popover-foreground: 216 0% 90%;
		--primary: 216 32% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 216 10% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 178 10% 15%;
		--muted-foreground: 216 0% 60%;
		--accent: 178 10% 15%;
		--accent-foreground: 216 0% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 216 0% 90%;
		--border: 216 20% 18%;
		--input: 216 20% 18%;
		--ring: 216 32% 53%;
		--radius: 1rem;
	}
}
@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
