@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 227 50% 5%;
    --foreground: 227 5% 90%;
    --card: 227 50% 4%;
    --card-foreground: 227 5% 90%;
    --popover: 227 50% 5%;
    --popover-foreground: 227 5% 90%;
    --primary: 227 54% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 227 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 189 30% 15%;
    --muted-foreground: 227 5% 60%;
    --accent: 189 30% 15%;
    --accent-foreground: 227 5% 90%;
    --destructive: 0 87% 30%;
    --destructive-foreground: 227 5% 90%;
    --border: 227 30% 18%;
    --input: 227 30% 18%;
    --ring: 227 54% 55%;
    --radius: 1rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
